// _components.scss


/* ==========================================================================
#Modules
========================================================================== */


body{
	background: #ddd;
	color: #fff;
}

.block{
	display: flex;
	justify-content: center;
	padding: 25rem;

	@include e('header'){
		background: red;
		color: #fff;
		width: 500px;
		height: 500px;
	}
}
