
@import "node_modules/foundation-sites/assets/foundation.scss";


/* ==========================================================================
#Fonts
========================================================================== */


  $icon-font-path: '../../fonts/';

  // @font-face {
	 //  font-family: 'Metrisch';
	 //  src: url($icon-font-path +  'Metrisch-ExtraLight-webfont.woff2') format('woff2'),
		//    url($icon-font-path +  'Metrisch-ExtraLight-webfont.woff') format('woff');
	 //  font-weight: normal;
	 //  font-style: normal;
  // }


/* ==========================================================================
#Variables
 ========================================================================== */
	
	$color1: #F64E4E; //dark grey
	$color2: #2E2828;//red
	$color3: #A7A2A9; //grey
	$color4: #F4F7F5; //off white
	$color5:#08090A; //black


	// //== Typography
	// //
	// //## Font, line-height, and color for body text, headings, and more.

	// $font-family-sans-serif:  "calluna-sans",sans-serif;
	// $font-family-serif:     'Lora', serif;
	// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
	// $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
	// $font-family-base:        $font-family-sans-serif !default;


	// $font-special: 'Lora', 'Papyrus';


	//== Media queries breakpoints
	//
	//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

	$screen-sm:                  576px !default;
	$screen-sm-min:              $screen-sm !default;

	$screen-md:                  768px !default;
	$screen-md-min:              $screen-md !default;

	$screen-lg:                  992px !default;
	$screen-lg-min:              $screen-lg !default;

	$screen-xl:                  1200px !default;
	$screen-xl-min:              $screen-lg !default;


	$screen-xxl:                 1920px;
	$screen-xxl-min:              $screen-xl !default;

	// So media queries don't overlap when required, provide a maximum
	$screen-sm-max:              ($screen-md-min - 1) !default;
	$screen-md-max:              ($screen-lg-min - 1) !default;
	$screen-lg-max:              ($screen-xl-min - 1) !default;
	$screen-xl-max:              ($screen-xxl-min - 1) !default;


	$font-sans-serif:'Metrisch', sans-serif;
	$font-serif:'Noto Serif', serif;
	
	$font-special: 'dunbar-tall' , sans-serif;



/* ==========================================================================
#Mixins
========================================================================== */

	@mixin e($element){

	  &__#{$element}{
	    @content;
	  }
	}

	@mixin m($modifier){
	  &--#{$modifier}{
	    @content;
	  }
	}

	@function strip-unit($value) {
	  @return $value / ($value * 0 + 1);
	}

/* ==========================================================================
#Base
========================================================================== */




/* ==========================================================================
#Modules
========================================================================== */


body{
	background: red;
}